section.get_started_steps h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
}
.get_started_steps .step_one_content {
  background: linear-gradient(
    270.13deg,
    rgba(61, 188, 161, 0.38) 0.12%,
    rgba(61, 188, 161, 0) 85.34%
  );
  border-radius: 0px 130px 130px 0px;
  height: 200px;
  padding: 0 62px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.step_one_inner_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.get_started_steps .step_one_inner_div h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 142px;
  display: flex;
  align-items: center;
  color: #3dbca1;
}
.get_started_steps .step_one_inner_div p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-right: 28px;
  padding-left: 50px;
}
/* img {
    vertical-align: middle;
} */
.get_started_steps .step_tow_content {
  background: linear-gradient(
    70deg,
    rgba(252, 122, 66, 0.7) 0.12%,
    rgba(255, 195, 189, 0) 85.34%
  );
  border-radius: 130px 0px 0px 130px;
  height: 200px;
  padding: 0 62px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.step_tow_inner_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.get_started_steps .step_tow_inner_div p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0px 75px;
  text-align: right;
}
.get_started_steps .step_tow_inner_div h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #fc7a42;
}
.get_started_steps .step_three_content {
  background: linear-gradient(
    270.13deg,
    rgba(61, 188, 161, 0.38) 0.12%,
    rgba(61, 188, 161, 0) 85.34%
  );
  border-radius: 0px 130px 130px 0px;
  height: 200px;
  padding: 0 62px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.step_three_inner_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.get_started_steps .step_three_inner_div h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 142px;
  display: flex;
  align-items: center;
  color: #3dbca1;
}
.get_started_steps .step_three_inner_div p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0px 75px;
}

@media screen and (max-width: 767px) {
  .get_started_steps .step_one_inner_div h2,
  .get_started_steps .step_tow_inner_div h2,
  .get_started_steps .step_three_inner_div h2 {
    font-size: 57px;
  }
  .get_started_steps .step_one_inner_div p {
    font-size: 12px !important;
    margin-top: -3px;
    padding: 0px 20px !important;
  }
  .get_started_steps .step_tow_inner_div p {
    font-size: 12px !important;
    margin-top: -2px;
    padding: 0px 20px !important;
  }
  .get_started_steps .step_three_inner_div p {
    font-size: 12px !important;
    margin-top: -25px;
    padding: 0px 20px !important;
  }
  section.get_started_steps h2 {
    font-size: 31px;
  }
  .started_steps_inner_con.step2 {
    padding-top: 0;
  }
  .step_one_inner_div {
    flex-wrap: wrap;
  }
  .step_tow_inner_div {
    flex-wrap: wrap;
  }
  .step_three_inner_div {
    flex-wrap: wrap;
  }
  .get_started_steps .step_one_content,
  .get_started_steps .step_tow_content,
  .get_started_steps .step_three_content {
    height: 450px !important;
    padding: 0 !important;
  }
  .step_tow_inner_div .steptowParagraph {
    margin: 22px 0px;
  }
  .step1image,
  .step2image,
  .step3image {
    width: 133px;
    height: 74px;
  }
}

@media screen and (max-width: 480px) {
  section.get_started_steps .get-started_steps_title h2 {
    font-size: 28px !important;
    padding: 0px 15px !important;
  }
  .step_one_inner-div .stepOneTitle h2 {
    font-size: 80px !important;
    line-height: 90px !important;
  }
  .step_tow_inner_div .steptowTitle h2 {
    font-size: 80px !important;
    line-height: 90px !important;
  }
  .get_started-steps .step-three_inner_div h2 {
    font-size: 80px !important;
    line-height: 90px !important;
  }
  /* .get_started_steps .step_one_inner_div p,
  .get_started_steps .step_tow_inner_div p,
  .get-started_steps .step_three_inner_div p {
    font-size: 20px !important;
    padding: 0px 24px !important;
  } */
  .get_started_steps .step_one_content,
  .get_started_steps .step_tow_content,
  .get_started_steps .step_three_content {
    height: 340px !important;
  }
}
